@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  }
  body{
    background-color: #171717;
}
.row .card {
  width: 220px;
  height: 260px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;}

    .home{
      background: url(../../../public/assets/image/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  
}

.home .row{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
}

.home .row .content{
  flex:1 1 42rem;
}

.home .row .books-slider{
  flex:1 1 42rem;
  text-align: center;
  margin-top: 2rem;
}

.home .row .books-slider a img{
  height: 21rem;
}

.home .row .books-slider a:hover img{
  transform: scale(.9);
}

.home .row .books-slider .stand{
  width:100%;
  margin-top: -2rem;
}

.home .row .content h3{
  color:var(--black);
  font-size: 4.5rem;
}

.home .row .content p{
  color:var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
  padding:1rem 0;
}


/* Book Detail images */
.LoginImage{
  position: relative;
  width: 100px;
    border-radius: 100%;
    margin-left: 40%;
  }
 #login_btn{
   position: absolute;
   top: 2%;
   left: 88%
 }
  /* Book detail */
  #product_id {
    color: grey;
    font-size: 0.8rem;
  }
  
  #product_price {
    font-size: 2rem;
    font-weight: bold;
  }
  
  #cart_btn,
  #review_btn {
    border-radius: 2rem;
    border: none;
    padding: 0.5rem 1.5rem;
  }
  
  #product_seller {
    color: grey;
    font-size: 0.9rem;
  }
  
  #stock_status {
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 0.3rem;
  }
 
.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}
  .redColor {
    color: red;
  }
  
  .greenColor {
    color: green;
  }
  
  #product_image {
    margin-top: 9rem;
  }


  /* profile */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,latin-ext);
* {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}


.i-block {
  display: inline-block;
}


.profile {
  height: 100%;
  min-width: 150px;
  width: auto;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  transition: all 0.2s;
  color: white;
}
.profile:after {
  content: "▾";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-10px, -50%);
  transition: transform 0.2s;
}
.profile:hover:after {
  transform: translate(-10px, -50%) rotate(180deg);

}

.profile__avatar {
  width: 35px;
  line-height: 35px;
  position: relative;
  top: 50%;
  margin-top: -17.5px;
  text-align: center;
}

.profile__monogram {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
}

.profile__name {
  height: 50px;
  line-height: 40px;
  padding: 0 10px 0 15px;
  color: white;
  font-size: 15px;
}

.menu {
  display: block;
  width: 220px;
  transition: all 0.2s;
  position: absolute;
  right: 0;
  top: 50px;
  background: #2c3e50;
  color: #bfbfbf;
}
.profile .menu {
  visibility: hidden;
  opacity: 0;
  height: 0;
}
.profile:hover .menu {
  visibility: visible;
  opacity: 1;
  /* height: px; */
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.profile:hover .menu .menu__item {
  visibility: visible;
  opacity: 1;
}
.profile:hover .menu .menu__item:nth-child(1) {
  transition: opacity 0.2s 0.12s, transform 0.2s;
}
.profile:hover .menu .menu__item:nth-child(2) {
  transition: opacity 0.2s 0.16s, transform 0.2s;
}
.profile:hover .menu .menu__item:nth-child(3) {
  transition: opacity 0.2s 0.2s, transform 0.2s;
}
.profile:hover .menu .menu__item:nth-child(4) {
  transition: opacity 0.2s 0.24s, transform 0.2s;
}

.menu__item {
  display: block;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  padding: 0 10px 0 15px;
  visibility: hidden;
  opacity: 0;
}
.menu__item:hover {
  color: #f2f2f2;
  transform: scale(1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

/* avatar */
.avatar img {
  width: 70%;
  height: 28vh;
  object-fit: cover;
}
/* @media (min-width: 768px) {
  .avatar img {
    width: 30%;
    height: 25vh;
    object-fit: cover;
    margin-left: 5x;
  }
} */


.rounded-circle {
  border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
/* NOt found page */
