@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.row .card {
  width: 250px;
  height: 350px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;}

/* .card_book{
  /* box-shadow; */
 /* home */
 .home{
  background: url(../../../public/assets/image/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .row{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  gap:1.5rem;
}

.home .row .content{
  flex:1 1 42rem;
}

.home .row .books-slider{
  flex:1 1 42rem;
  text-align: center;
  margin-top: 2rem;
}

.home .row .books-slider a img{
  height: 25rem;
}

.home .row .books-slider a:hover img{
  transform: scale(.9);
}

.home .row .books-slider .stand{
  width:100%;
  margin-top: -2rem;
}

.home .row .content h3{
  color:var(--black);
  font-size: 4.5rem;
}

.home .row .content p{
  color:var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
  padding:1rem 0;
}




/* footer */

/* Book Detail images */
.LoginImage{
  position: relative;
  width: 100px;
    border-radius: 100%;
    margin-left: 40%;
  
  }
 #login_btn{
   position: absolute;
   top: 2%;
   left: 88%
 }
  /* Book detail */
  #product_id {
    color: grey;
    font-size: 0.8rem;
  }
  
  #product_price {
    font-size: 2rem;
    font-weight: bold;
  }
  
  #cart_btn,
  #review_btn {
    border-radius: 2rem;
    border: none;
    padding: 0.5rem 1.5rem;
  }
  
  #product_seller {
    color: grey;
    font-size: 0.9rem;
  }
  
  #stock_status {
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 0.3rem;
  }
  
  
.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}
  .redColor {
    color: red;
  }
  
  .greenColor {
    color: green;
  }
  
  #product_image {
    margin-top: 9rem;
  }

  

  *, *:after, *:before {  
    box-sizing: border-box;  
   }  
   body {  
    font-family: "Inter", sans-serif;  
    background-color: #f2f5f7;  
   }  
   .card {  
    display: flex;  
    flex-direction: column;  
    flex-basis: 300px;  
    flex-shrink: 0;  
    flex-grow: 0;  
    max-width: 100%;  
    background-color: #FFF;  
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);  
    border-radius: 10px;  
    overflow: hidden;  
    margin: 1rem;  
   }  
     .card-img {  
    padding-bottom: 56.25%;  
   }
    
   .card-body {  
    padding: 1.5rem;  
   }  
   .card-title {  
    font-size: 1.25rem;  
    line-height: 1.33;  
    font-weight: 700;  
   }  
   .card-title.skeleton {  
    min-height: 28px;  
    border-radius: 4px;  
   }  
   
   .card-intro.skeleton {  
    min-height: 72px;  
    border-radius: 4px;  
   }  
   .skeleton {  
    background-color: #e2e5e7;  
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));  
    background-size: 40px 100%;  
    background-repeat: no-repeat;  
    background-position: left -40px top 0;  
    -webkit-animation: shine 1s ease infinite;  
        animation: shine 1s ease infinite;  
   }  
   @-webkit-keyframes shine {  
    to {  
     background-position: right -40px top 0;  
    }  
   }  
   @keyframes shine {  
    to {  
     background-position: right -40px top 0;  
    }  
   }  
   .container {  
    
    display: flex;  
    align-items: center;  
    justify-content: center;  
    flex-wrap: wrap;  
   }  

  
